<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prodemo01.dao.mapper.BorrowedPOMapper">
  <resultMap id="BaseResultMap" type="com.prodemo01.dao.po.BorrowedPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="bookId" jdbcType="BIGINT" property="bookid" />
    <result column="stuId" jdbcType="BIGINT" property="stuid" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from borrowed
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.prodemo01.dao.po.BorrowedPO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into borrowed (bookId, stuId, valid, 
      addTime, updateTime)
    values (#{bookid,jdbcType=BIGINT}, #{stuid,jdbcType=BIGINT}, #{valid,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.prodemo01.dao.po.BorrowedPO">
    update borrowed
    set bookId = #{bookid,jdbcType=BIGINT},
      stuId = #{stuid,jdbcType=BIGINT},
      valid = #{valid,jdbcType=INTEGER},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, bookId, stuId, valid, addTime, updateTime
    from borrowed
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, bookId, stuId, valid, addTime, updateTime
    from borrowed
  </select>


  <select id="selectByBookId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select bookId, stuId, valid, addTime, updateTime
    from borrowed
    where bookId = #{bookid,jdbcType=BIGINT} and valid = 1
    order by addTime limit 1
  </select>



  <update id="updateBorrowedState" parameterType="com.prodemo01.dao.po.BorrowedPO">
    update borrowed
    set valid = #{valid,jdbcType=INTEGER},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where bookId = #{bookid,jdbcType=BIGINT}
  </update>

</mapper>


